// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

::-webkit-scrollbar {
  display: none;
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
  background-color: red;
}
